body {
    background-color: #dbfddc;
    color: black;
    font-family: poppinsregular, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #41a744;
    transition: 0.3s all;
}

#acesso_botton {
    border: 2px solid #41a744;
    padding: 10px;
    border-radius: 20px;
}

#acesso_botton:hover {
    background-color: #41a744;
    color: white;
    transition: 0.3s all;
}

h1 {
    font-weight: 300;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 41px;
    line-height: 20px;
    font-family: poppinsmedium, sans-serif;
}

span {
    color: #41a744;
}

p {
    margin-top: 50px;
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight, sans-serif;
    margin-left: 25px;
}

img {
    width: 500px;
    border-radius: 20px;
    margin-left: 100px;
}

#servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}